<!DOCTYPE html>
<html lang="en">
<head>
<div class="content">
    <form action="">
    <h2>Login</h2>
    <div class="input-box">
        <input type="text" placeholder="Username" maxlength="15" required />
        <i class="ri-user-fill"></i>
    </div>
    <div class="input-box">
        <input type="password" id="password" placeholder="Password" required autocomplete="new-password" />
        <i class="ri-eye-off-fill toggle-passorwd"
        id="toggle-passorwd"></i>
    </div>
    <div class="remember">
        <label> <input type="checkbox"/>Lembrar Me</label>
        <a href="#"> Esqueceu a Senha?</a>
    </div>
    <button type="submit" class="btnn">Login</button> 
    <div class="button">
        <a href="#"> <i class="ri-google-fill"></i> Google </a>-- <a href="#">
            <i class="ri-facebook-fill"></i>Facebook
        </a> 
    </div>
    </form>
</div>
</head>
<body>

</body>

</html>